<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<img src="user.jpg" style="border-radius:150px;width:150px;height:150px;margin-top:10%;margin-bottom:5%;margin-left:22%;position:relative">
			<h4 style="text-align:center">Lesa Owens</h4>
			<ion-list>
				<ion-item menu-close ng-click="login()">
					Bookmarks
				</ion-item>
				<ion-item menu-close href="#/app/search">
					Notifications
				</ion-item>
				<ion-item menu-close href="#/app/browse">
					Settings
				</ion-item>
				<ion-item menu-close href="#/app/playlists">
					About
				</ion-item>
				<ion-item menu-close href="#/app/playlists">
					Logout
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>