<ion-view ng-controller="otdCtrl as otd" on-swipe-down="otd.down()" view-title="On This Day" ng-class="{'animated slideOutDown': otd.animate}">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="otds in otd.otds">
                <div class="list card">
                    <div class="item item-body card">
                        <img class="full-image otdImage" src="https://source.unsplash.com/800x480/?abstract">
                        <div class="otdContent">
                            <h3><strong>{{otds.year}}</strong></h3>
                            <p>{{otds.text}}</p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>

    </ion-content>
    <ion-footer-bar class="bar">
        <div class="button-bar">
            <a class="button button-icon icon ion-android-favorite" ng-click="otd.bookmark()" ng-class="{'animated rubberBand': otd.animateBookmark}"></a>
            <a class="button button-icon icon ion-android-share-alt"></a>
        </div>
    </ion-footer-bar>
</ion-view>