<ion-view ng-controller="videoCtrl as video" on-swipe-down="video.down()" on-swipe-up="video.up()" view-title="Video" ng-class="{'animated slideOutDown': video.animateDown, 'animated slideOutUp': video.animateUp}">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="videos in video.videos">
                <div class="list card">
                    <div class="item item-body card">
                        <a href="https://www.youtube.com/watch?v={{videos.id}}">
                            <img class="full-image videoThumbnail" src="{{videos.thumbnail}}">
                                <div class="videoTitle">
                                    {{videos.title}}
                                </div>
                        </a>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>

    <ion-footer-bar class="bar">
        <div class="button-bar">
            <a class="button button-icon icon ion-android-favorite" ng-click="video.bookmark()" ng-class="{'animated pulse': video.animateBookmark}"></a>
            <a class="button button-icon icon ion-android-share-alt"></a>
        </div>
    </ion-footer-bar>
</ion-view>