<ion-view ng-controller="videoCtrl as video" on-swipe-up="video.up()" view-title="{{video.favorite}} Video" ng-class="{'animated slideOutDown': video.animateDown, 'animated slideOutUp': video.animateUp}">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider" ng-if="video.videos!=null">
            <ion-slide-page ng-repeat="videos in video.videos">
                <div class="list card">
                    <div class="item item-body card">
                        <a href="https://youtube.com/watch?v={{videos.id}}">
                            <div class="videoImage">
                                <img class="full-image videoThumbnail" src="http://img.youtube.com/vi/{{videos.id}}/mqdefault.jpg">
                                <div class="videoImageIcon"></div>
                            </div>
                            <div class="videoInfo">
                                <div class="videoTitle">
                                    {{videos.title}}
                                </div>
                                <div class="videoDesc">
                                    {{videos.description}}
                                </div>
                                <div class="videoChannel">
                                    video by <span style="font-weight: bolder">{{videos.channelTitle}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
        <div ng-if="video.videos==null">
            <img src="img/play-button.png" class="noBookmarkImg">
            <div class="noBookmarkText">Uh-oh!<br>You haven't bookmarked any video. Tap the <button class="button button-icon icon ion-android-favorite" style="vertical-align:middle"></button> to bookmark any video.</div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar">
        <div class="button-bar">

            <a class="button button-icon icon ion-android-favorite" ng-if="!video.b" ng-click="video.bookmark()" ng-class="{'animated rubberBand': video.animateBookmark}"></a>
            <a class="button button-icon icon ion-android-share-alt" ng-click="video.share()"></a>
        </div>
    </ion-footer-bar>
</ion-view>