<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
    <body ng-app="starter">

        <ion-pane ng-controller="paneCtrl as pane"  on-swipe-up="pane.change()" on-swipe-down="pane.revChange()">
            <ion-header-bar class="bar-stable">
                <button class="button button-icon icon ion-navicon"></button>
                <div class="h1 title">{{pane.header}}</div>
            </ion-header-bar>
            <ion-content ng-if="pane.control==1" ng-controller="cardCtrl as card" scroll="false">
                <ion-slides  options="options" slider="data.slider" >
                    <ion-slide-page ng-repeat="cards in card.cards">
                        <div class="list card">
                            <div class="item item-body">
                            <img class="full-image" src="{{cards.image}}">
                            <p>
                                {{cards.content}}
                            </p>
                           </div>
                        </div>
                    </ion-slide-page>
                </ion-slides>
            </ion-content>

            <ion-content ng-if="pane.control==2" ng-controller="videoCtrl as video" scroll="false">
                <ion-slides  options="options" slider="data.slider" >
                    <ion-slide-page ng-repeat="videos in video.videos">
                        <div class="list card">
                            <div class="item item-body">
                            <img class="full-image" src="{{videos.thumbnail}}">
                            <p>
                                {{videos.description}}
                            </p>
                           </div>
                        </div>
                    </ion-slide-page>
                </ion-slides>
            </ion-content>
            <ion-footer-bar class="bar">
                <div class="button-bar">
                    <a class="button button-icon icon ion-android-bookmark"></a>
                    <a class="button button-icon icon ion-chatbubbles"></a>
                    <a class="button button-icon icon ion-android-share-alt"></a>
                    <a class="button button-icon icon ion-android-globe"></a>
                </div>
            </ion-footer-bar>
        </ion-pane>
    </body>
</html>
