.swiper-pagination-bullet {
   display: none;
}
.dropdown {
    margin-left: 60%;
}
.tempQuote{
    background-color: #4CB4FF;
    color: white;
}
.tempFact {
    background-color: #662C91;
    color: white;
}
.tempVideo {
    background-color: #F26F18;
    color: white;
}
.tempTrending {
    background-color: #49D14D;
    color: white;
}
.tempOtd {
    background-color: #EAD300;
    color: white;
}
.tempTitle {
    text-align: center;
    font-size: 5em;
    font-family: 'Comfortaa', cursive;
    color: white;
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.username {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
}
.ion-item {
    font-size: 1em;
}
.profilePicture {
    border-radius: 150px;
    width: 150px;
    height: 150px;
    margin: 3vh 18vw 1vh 18vw;
}
.list:last-child.card {
    margin-bottom: 10px;
}
.list.card {
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.newsContent {
    font-size: 1.2em;
    margin: 10px;
}
.otdContent {
    font-size: 1.5em;
    margin: 10px;
}
img.full-image.otdImage {
    height: 50vh;
}
.quoteCard {
    background-image: url("https://unsplash.it/1024/1024/?random&blur&gravity=center");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 83vh;
    margin: 0;
}
.quoteText {
    color: white;
    font-family: Georgia;
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    padding: 10%;
}
.quoteAuthor {
    color: white;
    font-size: 1em;
    padding: 10%;
    text-align: center;
}
.videoTitle {
    /* font-weight: bold; */
    font-size: 1.5em;
    padding: 20% 5% 20% 5%;
    margin: 10px;
    text-align: center;
    line-height: 1;
}
.card {
    height: 83vh;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0px 0px 3px 3px rgba(73,73,73,1);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(73,73,73,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(73,73,73,1);
}
.fact-content {
    margin: 20px;
    text-align: center; 
    font-size: 1.5em;
    line-height: 1;
    padding: 20% 5% 20% 5%;
}
img.full-image.factImage {
    height: 40vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
img.full-image.videoThumbnail {
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
img.full-image.newsImage {
    height: 40vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.bar.bar-stable {
    margin-bottom: 10px;
}
.bar-stable.bar.bar-header {
      background-color: black;
      color: white;
}
.bar.bar-footer {
    background-color: black;
}
.bar-stable.bar.bar-header h1 {
    color: white;
}
.bar .title.title-left {
    color: white;
}
.button-icon.button-clear.ion-navicon {
    color: white;
}
a.button.button-icon.icon.ion-android-bookmark {
    color: white;
}
a.button.button-icon.icon.ion-android-share-alt {
    color: white;
}
a.button.button-icon.icon.ion-android-globe {
    color: white;
}
