.swiper-pagination-bullet {
  display: none;
}


/* .swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
} */

.introTitle {
  text-align: center;
  color: white;
  font-size: 4em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  display: flex;
  margin: auto;
  padding: 5vh 5vw 5vh 5vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
}

.introDescription {
  text-align: center;
  font-size: 1.6em;
  line-height: 1;
  display: flex;
  margin: auto;
  width: 90%;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

.instDescription {
  text-align: justify;
  font-size: 1.6em;
  line-height: 1;
  display: flex;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

.introIcon {
  display: block;
  margin: auto;
  padding: 50px;
}

.iconBorder {
  border-radius: 100%;
  /* border: 2px dashed white; */
  margin: 10%;
  box-shadow: 3px 4px 5px 2px white;
}

.continue {
  border-radius: 10%;
  display: block;
  margin: 10vh auto 0 auto;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.dropdown {
  float: right;
}

.aboutHeading {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  margin: auto;
  padding: 30px;
}

.aboutBody {
  text-align: left;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  margin: auto;
  padding: 20px;
}

.aboutLogo {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}

.dev {
  text-align: center;
  font-weight: bolder;
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  padding: 20px;
}

.tempApp {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.tempQuote {
  background-color: #4CB4FF !important;
  color: white;
  min-height: 100vh;
}

.tempFact {
  background-color: #662C91 !important;
  color: white;
  min-height: 100vh;
}

.tempVideo {
  background-color: #F26F18 !important;
  color: white;
  min-height: 100vh;
}

.tempTrending {
  background-color: #49D14D !important;
  color: white;
  min-height: 100vh;
}

.tempOtd {
  background-color: #EAD300 !important;
  color: white;
  min-height: 100vh;
}

.tempTitle {
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.username {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px;
}

ion-item.item {
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
}

.profilePicture {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  margin: 3vh 18vw 1vh 18vw;
}

.list:last-child.card {
  margin-bottom: 10px;
}

.list.card {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.newsTitle {
  font-size: 1.2em;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-weight: bold;
}

.newsDescription {
  margin: 10px;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.otdTitle {
  font-size: 1.2em;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-weight: bold;
}

.otdDescription {
  margin: 10px;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

img.full-image.otdImage {
  height: 50vh;
}

.quoteText {
  color: white;
  font-family: Georgia;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  padding: 10%;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  margin: auto;
}

.quoteAuthor {
  color: white;
  font-size: 1em;
  padding: 10%;
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: 'Source Sans Pro', sans-serif;
}

.quoteCard {
  background-image: url("https://placeimg.com/800/600/nature");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 83vh;
  margin: 0;
}

.videoImage {
  position: relative;
  display: inline-block;
}

.videoThumbnail {
  z-index: 9;
}

.videoImageIcon {
  background: url('../img/youtube-play.png') center center no-repeat;
  position: absolute;
  top: 30%;
  left: 33%;
  width: 128px;
  height: 128px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
}

.videoTitle {
  font-weight: 50;
  font-size: 1.5em;
  padding: 20% 5% 20% 5%;
  margin: auto;
  text-align: center;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
}

.card {
  height: 83vh;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0px 0px 3px 3px rgba(73, 73, 73, 1);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(73, 73, 73, 1);
  -moz-box-shadow: 0px 0px 3px 3px rgba(73, 73, 73, 1);
}

.fact-content {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  line-height: 1;
  padding: 20% 5% 20% 5%;
  font-family: 'Source Sans Pro', sans-serif;
}

img.full-image.factImage {
  height: 40vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

img.full-image.videoThumbnail {
  height: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

img.full-image.newsImage {
  height: 40vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bar.bar-stable {
  margin-bottom: 10px;
}

.bar.bar.bar-stable .title {
  color: white;
}

.bar-stable.bar.bar-header {
  background-color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
}

.bar.bar-footer {
  background-color: black;
}

.bar .title {
  color: black;
  text-align: center;
  font-weight: bold;
}

.button-icon.button-clear.ion-navicon {
  color: white;
}

a.button.button-icon.icon.ion-android-favorite {
  color: white;
}

a.button.button-icon.icon.ion-android-share-alt {
  color: white;
}

a.button.button-icon.icon.ion-android-globe {
  color: white;
}

